<button mat-button color="accent" class="add-btn" (click)="addRecommendation()">
  <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
  <span>Add recommendation block</span>
</button>
<ng-container *ngIf="recommendations.length !== 0">
  <app-recommendation-form
    *ngFor="let question of recommendations; let i = index; trackBy: trackByFn"
    (deleted) = delete($event)
    [formData]="{recommendations: recommendations, variants: variants, index: i}" >
  </app-recommendation-form>
</ng-container>
